.section {
    padding-top:40px;
    padding-bottom:40px;

    @mixin atMedium {
        padding-top:60px;
        padding-bottom:60px;
    }

    &--gray {
        background-color: #f3f5fa;
    }

    &--large {
        padding-top:50px;
        padding-bottom:50px;

        @mixin atMedium {
            padding-top:150px;
            padding-bottom:150px;
        }
    }

    &--no-padding {
        padding:0;
    }
}