.header {
    position:relative;
    padding-top:20px;
    overflow: hidden;

    &__logo {
        display:block;
        color:#000;
        font-family:$headingFont;
        font-size:18px;
        font-weight:400;
        letter-spacing:-1px;
        text-align:center;

        @mixin atXSmall {
            display:inline-block;
            float:left;
        }

        &__letter {
            height:60px;
            width:60px;
            margin-right:5px;
            display:inline-block;
            background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
            border-radius:50%;   
            color:#fff;
            font-size:18px;
            font-weight:700;
            line-height: 60px;
            text-align: center;
        
            @mixin atMedium {
                font-size:21px;
            }
        }
    }

}

.nav {    
    width:calc(100% + 30px);
    margin:20px 0 0 0;
    background-color:#f9f9f9;
    text-align:center;
    transform:translateX(-15px);

    @mixin atXSmall {
        float:right;
        width:auto;
        margin-top:7px;
        background-color:transparent;
        transform:translateX(0);
    }

    @mixin atMedium {
        margin-top:8px;
    }

    > li {
        display:inline-block;
    }

    li a { 
        display:block;
        padding:10px;
        color:$grayDark;
        font-size:1em;
        font-weight:800;
        text-decoration:none;

        @mixin atMedium {
            padding:10px 15px;
            font-size:1.125em;
        }

    }

    li a:hover {
        color:$blue;
    }

    &__icon {
        font-size:24px;
    }

}