body {
    font-size:18px;
    color:#000;
    font-family: $primaryFont;
}

a,
button {
    transition:all 0.2s ease;
}

a:hover {
    text-decoration:none;
}

img {
    max-width:100%;
}

::selection {
    background-color:rgba($blue, 0.25);
}